Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 160
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterClass: false
  AfterNamespace: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignOperands: Align
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<Foundation/.*>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^"PlayEm/.*'
    Priority: 3
  - Regex: '^".*'
    Priority: 4
IncludeIsMainRegex: '([-_](test|unittest))?$'
ReflowComments: false

---
Language: ObjC
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 160
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterClass: false
  AfterNamespace: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignOperands: Align
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<Foundation/.*>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^"PlayEm/.*'
    Priority: 3
  - Regex: '^".*'
    Priority: 4
IncludeIsMainRegex: '([-_](test|unittest))?$'
ReflowComments: false
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
